apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
  namespace: {{ .Values.namespace.name }}
  labels:
    app.kubernetes.io/name: postgres-credentials
    app.kubernetes.io/component: database
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
data:
  password: {{ .Values.secrets.postgres.password }}
---
apiVersion: v1
kind: Secret
metadata:
  name: neo4j-credentials
  namespace: {{ .Values.namespace.name }}
  labels:
    app.kubernetes.io/name: neo4j-credentials
    app.kubernetes.io/component: database
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
data:
  password: {{ .Values.secrets.neo4j.password }}
---
apiVersion: v1
kind: Secret
metadata:
  name: minio-credentials
  namespace: {{ .Values.namespace.name }}
  labels:
    app.kubernetes.io/name: minio-credentials
    app.kubernetes.io/component: storage
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
data:
  accessKey: {{ .Values.secrets.minio.accessKey }}
  secretKey: {{ .Values.secrets.minio.secretKey }}
---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-credentials
  namespace: {{ .Values.namespace.name }}
  labels:
    app.kubernetes.io/name: grafana-credentials
    app.kubernetes.io/component: monitoring
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
data:
  password: {{ .Values.secrets.grafana.password }}
