apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
  namespace: {{ .Values.namespace.name }}
  labels:
    app.kubernetes.io/name: postgres-credentials
    app.kubernetes.io/component: database
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
data:
  password: {{ .Values.secrets.postgres.password }}
---
apiVersion: v1
kind: Secret
metadata:
  name: neo4j-credentials
  namespace: {{ .Values.namespace.name }}
  labels:
    app.kubernetes.io/name: neo4j-credentials
    app.kubernetes.io/component: database
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
data:
  password: {{ .Values.secrets.neo4j.password }}
---
apiVersion: v1
kind: Secret
metadata:
  name: minio-credentials
  namespace: {{ .Values.namespace.name }}
  labels:
    app.kubernetes.io/name: minio-credentials
    app.kubernetes.io/component: storage
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
data:
  accessKey: {{ .Values.secrets.minio.accessKey }}
  secretKey: {{ .Values.secrets.minio.secretKey }}
---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-credentials
  namespace: {{ .Values.namespace.name }}
  labels:
    app.kubernetes.io/name: grafana-credentials
    app.kubernetes.io/component: monitoring
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
data:
  password: {{ .Values.secrets.grafana.password }}
---
{{- if .Values.kong.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: kong-postgres-credentials
  namespace: {{ .Values.namespace.name }}
  labels:
    app.kubernetes.io/name: kong-postgres-credentials
    app.kubernetes.io/component: database
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
data:
  password: {{ .Values.secrets.kong.postgresPassword | default "a29uZ19wYXNzd29yZA==" }}
---
apiVersion: v1
kind: Secret
metadata:
  name: kong-oauth2-credentials
  namespace: {{ .Values.namespace.name }}
  labels:
    app.kubernetes.io/name: kong-oauth2-credentials
    app.kubernetes.io/component: auth
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
data:
  provisionKey: {{ .Values.kong.oauth2.provisionKey | b64enc }}
  adminClientId: {{ .Values.kong.oauth2.adminClientId | b64enc }}
  adminClientSecret: {{ .Values.kong.oauth2.adminClientSecret | b64enc }}
{{- end }}
